# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\E009926\IdeaProjects\opentelemetry-tests\case1\.idea/dataSources/
/dataSources.local.xml
